.container {
  display: flex;
  justify-content: space-between;
}
.button {
  width: 100px;
  border: none;
  background-color: crimson;
  color: white;
  padding: 16px;
  cursor: pointer;
}
.button:disabled {
  background-color: rgba(220, 20, 60, 0.281);
  cursor: not-allowed;
}
