.container {
  margin-top: 30px;
}
.title {
  font-size: 86px;
  font-weight: 300;
}
.post {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 60px;
}
.imgContainer {
  flex: 1;
  height: 500px;
  position: relative;
}
.image {
  object-fit: cover;
}
.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.postTitle {
  font-size: 40px;
}
.postDesc {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: var(--softTextColor);
}
.button {
  width: max-content;
  padding: 16px 20px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.bold {
  font-weight: 600;
  font-size: 90px;
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 72px;
  }
  .bold {
    font-size: 80px;
  }
}
@media screen and (max-width: 1024px) {
  .title {
    font-size: 62px;
  }
  .bold {
    font-size: 72px;
  }
  .imgContainer {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 48px;
  }
  .bold {
    font-size: 64px;
  }
  .imgContainer {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .title {
    font-size: 36px;
  }
  .bold {
    font-size: 48px;
  }
}
