.container {
}
.title {
  margin: 50px 0;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.category {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  width: 15%;
  height: 80px;
}
.categoryItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.categoryItem.style {
  background-color: #57c4ff31;
}
.categoryItem.fashion {
  background-color: #da85c731;
}
.categoryItem.food {
  background-color: #7fb88133;
}
.categoryItem.travel {
  background-color: #ff795736;
}
.categoryItem.culture {
  background-color: #ffb04f45;
}
.categoryItem.coding {
  background-color: #5e4fff31;
}
.image {
  border-radius: 50%;
}
