.container {
  flex: 2;
  margin-top: 60px;
}
.subtitle {
  color: var(--softTextColor);
  font-size: 16px;
  font-weight: 400;
}
.title {
  font-size: 28px;
  font-weight: 700;
}
.items {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.item {
  display: flex;
  gap: 20px;
  align-items: center;
}
.imgContainer {
  flex: 1;
  position: relative;
  aspect-ratio: 1/1;
}
.image {
  border-radius: 50%;
  border: 3px solid lightgray;
  object-fit: cover;
}
.textContainer {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.category {
  padding: 3px 8px;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  width: max-content;
}
.postTitle {
  font-size: 18px;
  font-weight: 500;
  color: var(--softTextColor);
}
.detail {
  font-size: 12px;
}
.date {
  color: gray;
}
.travel {
  background-color: #ff7857;
}
.culture {
  background-color: #6b5b95;
}
.food {
  background-color: #feb236;
}
.fashion {
  background-color: #d64161;
}
.categoryList {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.categoryItem {
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 14px;
}
.categoryItem.style {
  background-color: #57c4ff31;
}
.categoryItem.fashion {
  background-color: #da85c731;
}
.categoryItem.food {
  background-color: #7fb88133;
}
.categoryItem.travel {
  background-color: #ff795736;
}
.categoryItem.culture {
  background-color: #ffb04f45;
}
.categoryItem.coding {
  background-color: #5e4fff31;
}
@media screen and (max-width: 1024px) {
  .container {
    display: none;
  }
}
