.container {
  margin-top: 50px;
}
.title {
  color: var(--softTextColor);
  margin-bottom: 30px;
}
.writeCommentContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.textarea {
  padding: 20px;
  width: 100%;
}
.sendButton {
  padding: 16px 20px;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.sendButton:disabled {
  background-color: rgba(0, 128, 128, 0.267);
  cursor: not-allowed;
}
.commentsList {
  margin-top: 50px;
}
.comment {
  margin-bottom: 50px;
}
.user {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.userImage {
  border-radius: 50%;
  object-fit: cover;
}
.userInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
}
.commentAuthor {
  font-weight: 500;
}
.commentDate {
  font-size: 14px;
}

.commentText {
  font-size: 18px;
  font-weight: 300;
}
