.container {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  gap: 50px;
}
.imgContainer {
  flex: 1;
  height: 350px;
  position: relative;
}
.image {
  object-fit: cover;
}
.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.date {
  color: gray;
}
.category {
  color: crimson;
  font-weight: 500;
}
.desc {
  font-size: 18px;
  font-weight: 300;
  color: var(--softTextColor);
}
.link {
  padding: 2px 0;
  border-bottom: 2px solid crimson;
  width: max-content;
}

@media screen and (max-width: 1280px) {
  .imgContainer {
    display: none;
  }
}
