.container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  color: var(--softTextColor);
}
.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logoText {
  font-size: 24px;
}
.description {
  font-weight: 300;
  line-height: 1.4;
}
.icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 100px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.listTitle {
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  .links {
    gap: 50px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 50px;
  }
  .links {
    justify-content: space-between;
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .links {
    font-size: 14px;
  }
}
